.user-panel-page .container {
    max-width: 1200px;
    margin: 4rem auto;
    padding: 2rem;
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
}

.user-panel-page h1 {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 1rem;
    text-align: center;
}

.user-panel-page p {
    font-size: 1.25rem;
    color: var(--text-color);
    line-height: 1.6;
    margin-bottom: 1rem;
    text-align: center;
}

.user-panel-page .user-info, .user-panel-page .user-actions {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 2rem;
}

.user-panel-page .user-info {
    background-color: white;
    border-radius: var(--border-radius);
    box-shadow: var(--box-shadow);
    padding: 1rem;
}

.user-panel-page .user-info h3 {
    margin: 0 0 0.5rem;
    font-size: 1.25rem;
    color: var(--primary-color);
}

.user-panel-page .user-info p {
    margin: 0.5rem 0;
    font-size: 1rem;
    color: var(--text-color);
}

.user-panel-page .user-actions button {
    background-color: var(--primary-color);
    color: white;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    margin-top: 0.5rem;
    width: 100%;
    font-size: 1rem;
}

.user-panel-page .user-actions button:hover {
    background-color: #357ABD;
}
