<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerca de</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/about.css') }}">
</head>
<body class="about-page">
    <header>
        <nav>
            <div class="logo">MyDeptos</div>
            <ul class="menu">
                <li><a href="{{ url_for('home') }}">Inicio</a></li>
                {% if current_user.is_authenticated %}
                    <li><a href="{{ url_for('user_panel') }}">Mi Perfil</a></li>
                    <li><a href="{{ url_for('favorites') }}">Favoritos</a></li>
                    <li><a href="{{ url_for('listings') }}">Lista de Departamentos</a></li>
                    <li><a href="{{ url_for('publish_depto') }}">Publicar</a></li>
                    <li><a href="{{ url_for('logout') }}">Cerrar Sesión</a></li>
                {% else %}
                    <li><a href="{{ url_for('login') }}">Iniciar sesión</a></li>
                    <li><a href="{{ url_for('register') }}">Registrarse</a></li>
                    <li><a href="{{ url_for('listings') }}">Lista de Departamentos</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main class="container">
        <div class="card">
            <h2>Información de la Aplicación</h2>
            <p class="highlight">Gestiona propiedades de manera eficiente.</p>
            <p>MyDeptos es una aplicación diseñada para ayudar a los usuarios a gestionar propiedades de manera eficiente y encontrar departamentos disponibles en su zona.</p>
            <div class="more-info">
                <p>Con MyDeptos, puedes buscar departamentos disponibles en tu área, contactar directamente con los propietarios y gestionar tus propiedades de manera sencilla y segura.</p>
            </div>
        </div>
        <div class="card">
            <h2>Nuestro Equipo</h2>
            <p class="highlight">Profesionales dedicados a brindar el mejor servicio.</p>
            <p>Contamos con un equipo de profesionales dedicados a brindar el mejor servicio y asegurar que encuentres el departamento ideal.</p>
        </div>
        <div class="card">
            <h2>Beneficios de Usar MyDeptos</h2>
            <p class="highlight">Plataforma confiable y fácil de usar.</p>
            <p>MyDeptos ofrece una plataforma confiable y fácil de usar para encontrar propiedades en tu área. Con nuestra aplicación, puedes:</p>
            <div class="more-info">
                <ul>
                    <li>Buscar departamentos disponibles en tu zona.</li>
                    <li>Contactar directamente con los propietarios.</li>
                    <li>Gestionar tus propiedades de manera eficiente.</li>
                </ul>
            </div>
        </div>
        <div class="card">
            <h2>Confianza y Seguridad</h2>
            <p class="highlight">Valoramos la confianza y seguridad de nuestros usuarios.</p>
            <p>En MyDeptos, valoramos la confianza y seguridad de nuestros usuarios. Nos aseguramos de que todas las propiedades listadas sean verificadas y que los contactos externos sean confiables.</p>
        </div>
    </main>
    <footer>
        <div class="footer-content">
            <div class="reserved-rights">&copy; 2025 MyDeptos. Todos los derechos reservados.</div>
            <div class="social-media">
                <a href="https://www.instagram.com/mydeptos" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/mydeptos" target="_blank">Facebook</a>
            </div>
            <div class="navigation-links">
                <a href="/about">Sobre Nosotros</a>
            </div>
        </div>
    </footer>
</body>
</html>
