<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Recuperar Contraseña</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/forgotpassword.css') }}">
</head>
<body class="forgot-password-page">
    <header>
        <nav>
            <div class="logo">MyDeptos</div>
            <ul class="menu">
                <li><a href="/">Inicio</a></li>
                <li><a href="/about">Acerca de</a></li>
                <li><a href="/contact">Contacto</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        <h2>Recuperar Contraseña</h2>
        <form method="POST" action="{{ url_for('forgot_password') }}">
            {{ form.hidden_tag() }}
            <label for="email">Correo Electrónico:</label>
            <input type="email" name="email" required>
            <button type="submit">Enviar Enlace de Recuperación</button>
        </form>
    </div>
    <footer>
        <div class="footer-content">
            <div>&copy; 2025 MyDeptos. Todos los derechos reservados.</div>
            <div class="social-media">
                <a href="https://www.instagram.com/mydeptos" target="_blank">Instagram</a>
                <a href="https://www.facebook.com/mydeptos" target="_blank">Facebook</a>
            </div>
            <div class="navigation-links">
                <a href="/about">Sobre Nosotros</a>
            </div>
        </div>
    </footer>
</body>
</html>
