<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contraseña Segura</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='../static/css/styles.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/generate_password.css') }}">
</head>
<body class="generate-password-page">
    <h2>Contraseña Segura Generada</h2>
    <p><strong>{{ secure_password }}</strong></p>
    <a href="{{ url_for('edit_profile') }}" class="btn btn-primary">Volver</a>
</body>
</html>
