<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cierre de Sesión</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/logout.css') }}">
</head>
<body>
    <div class="container">
        <div class="card">
            <h2>Has cerrado sesión</h2>
            <p>Serás redirigido al inicio de sesión en unos segundos...</p>
        </div>
    </div>
    <script>
        setTimeout(function() {
            window.location.href = "{{ url_for('login') }}";
        }, 3000); // Redirigir después de 3 segundos
    </script>
</body>
</html>
